@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

:root {
    --body: #b6cbce;
    --heading: #eef3db;
    --base: #033f47;
    --base-2: #022a30;
    --brand: #e0f780;
    --brand-2: #deff58;
    --sidebar-width: 240px;
    --font-base: "Source Sans Pro";
}

body {
    background-color: var(--base-2);
    color: var(--body);
    font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading);
    font-weight: 800;
}

a {
    text-decoration: none;
    color: var(--body);
    transition: all 0.4s ease;
}

a:hover {
    color: var(--brand);
}

img {
    width: 100%;
}

.text-brand {
    color: var(--brand);
}

.bg-base {
    background-color: var(--base);
}

.full-height {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

/* navbar */
.navbar {
    background-color: var(--base);
}

.navbar .nav-link {
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--brand);
}

.navbar .nav-link.active {
    color: var(--brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.85), rgba(3, 63, 71, 0.85)), url(../images/sidebar-img.png);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--brand);
    }
    #content-wrapper {
        padding-left: var(--sidebar-width);
    }
}

/* button */
.btn {
    padding: 12px 28px;
    font-weight: 800;
}

.btn-brand {
    background-color: var(--brand);
    border-color: var(--brand);
    color: var(--base);
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: var(--brand-2);
    color: var(--base);
    border-color: var(--brand-2);
}

.link-custom {
    font-weight: 700;
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--brand);
    position: absolute;
    left: 0;
    top: 110%;
    transition: 0.4s ;
}

.link-custom:hover::after {
    width: 100%;
}

/* card */
.card-custom .card-custom-image {
    overflow: hidden;
}

.card-custom .card-custom-image img {
    transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
    transform: scale(1.1);
}

.card-custom, img{
    padding: 1.5em .5em .5em;
    border-radius: 1.5em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}